/* Color Variable
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$white:                   #FFFFFF;
$black:                   #1A1A1A;
$grey-xxlight:            #F2F2F2;
$grey-xlight:             #EAEAEA;
$grey-light:              #DEDEDE;
$grey:                    #BEBEBE;
$grey-dark:               #9B9B9B;
$grey-xdark:              #444444;
$blue:                    #4DBDFF;

$black-o3:                rgba(26, 26, 26, 0.3);

/* Font Size
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-base:               1.6rem; // 16px
$font-small:              $font-base * 0.875;   // 14px
$font-smaller:            $font-base * 0.75;    // 12px
$font-large:              $font-base * 1.5;     // 24px
$font-larger:             $font-base * 2.25;    // 36px
$font-title:              $font-base * 3.375;   // 54px

/* Line height
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-sans:               "Roboto", "San Francisco Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif:              Georgia, "Times New Roman", Times, serif;
$font-mono:               Monaco, Courier, monospace;
$font-manteka:            "Manteka", Helvetica, sans-serif;

/* Line height
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$line-height-base:        1.5;
$line-height-small:       1.375;
$line-height-smaller:     1.25;
$line-height-smallest:    1.125;
$line-height-large:       1.75;

/* Border Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$border:                  1px solid;
$border-radius:           2px;

/* Transition
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$text-transition:         color 0.2s ease-in-out 0s;
$all-transition:          all 0.2s ease 0s;

/* Breakpoint Size
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$tablet:                  768px;
$desktop:                 1024px;
