/* Background Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bg-image-base {
  background-size: cover;
  transition: background-image 0.2s ease;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-image-smart-clinics {
  @extend .bg-image-base;
  background-position: right 0;
  background-image: image-url("projects/smart-clinics/hero.jpg");
}

.bg-image-design-process {
  @extend .bg-image-base;
  background-position: center 0;
  background-image: image-url("projects/designprocess/hero.jpg");
}

.bg-image-senza-carta {
  @extend .bg-image-base;
  background-position: center bottom;
  background-image: image-url("projects/senza-carta/hero.jpg");
}

.bg-image-mda-mentoring {
  @extend .bg-image-base;
  background-position: center 40%;
  background-image: image-url("projects/mda-mentoring/hero.jpg");
}

.bg-image-the-nick-team {
  @extend .bg-image-base;
  background-position: center 40%;
  background-image: image-url("projects/the-nick-team/hero.jpg");
}

.bg-image-netengine-new-office{
  @extend .bg-image-base;
  background-position: center 50%;
  background-image: image-url("projects/netengine-new-office/hero.png");
}

.bg-image-tedxuq-2014{
  @extend .bg-image-base;
  background-position: center 0%;
  background-image: image-url("projects/tedxuq-2014/hero.jpg");
}

.bg-image-ninja-robbers{
  @extend .bg-image-base;
  background-position: center 0%;
  background-image: image-url("projects/ninja-robbers/hero.jpg");
}

.bg-image-netengine-marketing-page{
  @extend .bg-image-base;
  background-position: center 0%;
  background-image: image-url("projects/netengine-marketing-page/hero.png");
}
