/* Background Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bg-image-base {
  background-size: cover;
  transition: background-image 0.2s ease;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
