/* Box
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.box-base,
a.box-base {
  $box-padding: 0.6rem;
  @extend .no-select;

  background-color: $blue;
  border-color: $blue;
  border-style: solid;
  border-width: 0.3rem;
  color: $blue;
  display: inline-table;
  margin-left: 1rem;
  padding: $box-padding;
  transition: none;

  &:hover {
    color: $blue;
  }

  &::selection {
    color: $blue;
  }

  &::before {
    border-color: $black;
    border-style: solid;
    border-width: 0.4rem;
    color: $black;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    padding: $box-padding;
    position: absolute;
  }
}

// logo
.box-logo {
  @extend a.box-base;

  color: $grey-xlight;
  background-color: $grey-xlight;
  border-width: 0.2rem;
  border-color: $grey-xlight;

  &:hover {
    background-color: $blue;
    border-color: $blue;
    color: $blue;

    &::before {
      border-color: $black;
      color: $black;
    }
  }

  &::before {
    border-color: $grey;
    border-width: 0.3rem;
    color: $grey;
    content: "L";
    margin-left: -1.2rem;
    margin-top: -1.2rem;
  }
}

// lennon
.box-lennon {
  @extend .box-base;

  &::before {
    content: "Lennon";
  }
}

// thankyou
.box-thanks {
  @extend .box-base;

  &::before {
    content: "Thanks";
  }
}
