/* Box
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$box-padding: 0.6rem;

.box {
  @extend .no-select;
  @extend .font-large;
  @extend .manteka;
  background-color: transparent;
  border: 0.3rem solid $black;
  color: $black;
  padding: $box-padding;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 107%;
    width: 103.5%;
    background-color: $blue;
    left: 4px;
    top: 4px;
    z-index: -1;
  }
}

a.box {
  @extend .box;
  @extend .all-transition;

  border: 3px solid $grey-dark;
  color: $grey-dark;

  &::before {
    content: '';
    position: absolute;
    height: 108%;
    width: 114%;
    background-color: $grey-light;
    left: 3px;
    top: 3px;
    z-index: -1;
  }

  &:hover {
    border: 3px solid $black;
    color: black;

    &::before {
      background-color: $blue;
    }
  }
}

.box-logo {
  &::before {
    height: 108%;
    width: 114%;
  }
}
