/* Box
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.box-base,
a.box-base {
  @extend .no-select;
  $box-padding: 0.6rem;
  transition: none;

  background-color: $blue;
  display: inline-table;
  padding: $box-padding;
  color: $blue;
  border-width: 0.3rem;
  border-style: solid;
  border-color: $blue;
  margin-left: 1rem;

  &:hover {
    color: $blue;
  }

  &::selection {
    color: $blue;
  }

  &::before{
    position: absolute;
    color: $black;
    border-width: 0.4rem;
    border-style: solid;
    border-color: $black;
    padding: $box-padding;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
  }
}

// logo
.box-logo {
  @extend a.box-base;

  color: $grey-xlight;
  background-color: $grey-xlight;
  border-width: 0.2rem;
  border-color: $grey-xlight;

  &:hover {
    color: $blue;
    background-color: $blue;
    border-color: $blue;

    &::before {
      color: $black;
      border-color: $black;
    }
  }

  &::before {
    content: 'L';
    color: $grey;
    border-width: 0.3rem;
    border-color: $grey;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
  }
}

// lennon
.box-lennon {
  @extend .box-base;

  &::before {
    content: 'Lennon';
  }
}
