/* Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card {
  text-align: center;
  @extend .mb2;
  @extend .flex;
  @extend .flex-column;
  @extend .border-full;
  border-color: $grey-xxlight;
  @extend .h100;
}

.card-header {
  @extend .p1;
  background-color: $grey-xxlight;
  color: $grey;
  @extend .font-small;
}

.card-footer {
  @extend .p1;
  @extend .text-blue;
  @extend .border-top-solid;
  @extend .border-grey-xxlight;
  @extend .font-small;
}
