/* Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card {
  text-align: center;
  @extend .mb2;
  @extend .flex;
  @extend .flex-column;
  @extend .border-full;
  border-color: $grey-xxlight;
  @extend .h100;

  &.border-blue { @extend .border-blue; }
}

.card-header {
  @extend .p1;
  background-color: $grey-xxlight;
  color: $grey;
  @extend .font-small;

  &.bg-blue { @extend .bg-blue; }
  &.text-white { @extend .text-white; }
}

.card-footer {
  @extend .p1;
  @extend .text-blue;
  @extend .border-top-solid;
  @extend .border-grey-xxlight;
  @extend .font-small;
}
