/* Sizes
/  - container
/  - max width
/  - width
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $tablet) {
    padding: 1rem;
  }
}

/* Max Width
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.max-w450px { max-width: 450px; }
.max-w600px { max-width: 600px; }
.max-w750px { max-width: 750px; }

/* Min Height
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.min-h100vh { min-height: 100vh; }

/* Width
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.w100 { width: 100%; }
.w75  { width: 75%; }
.w50  { width: 50%; }
.w49  { width: 49%; }
.w45  { width: 45%; }
.w25  { width: 25%; }
.w20  { width: 20%; }
.w15  { width: 15%; }
.w10  { width: 10%; }

.w33  { width: calc(33.33% - 10px); }

/* Height
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.h200px { height: 200px; }

.h100   { height: 100%; }
