@charset "utf-8";
@import "normalize";
@import "variable";

@import "base/general";
@import "base/response";
@import "base/size";
@import "base/spacing";
@import "base/box";
@import "base/flex";
@import "base/color";
@import "base/heading";
@import "base/misc";
@import "base/hide";
@import "base/link";
@import "base/type_helper";
@import "base/font_size";


.screen-center {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -100%);
}
