/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
a.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
{
  @extend .all-transition;
  padding: 0.75rem 2rem;
  background-color: $black;
  border: none;
  color: $white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 400;
  position: relative;
  border-radius: 0;

  &::before {
    @extend .all-transition;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $blue;
    opacity: 0.5;
    left: 3px;
    top: 3px;
    z-index: -1;
  }

  &:hover,
  &:focus {
    background-color: $blue;
    outline: 0;
  }
}

.button,
a.button,
button {
  text-transform: uppercase;
}
