/* Color Collection
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$color-collection:       ($white,
                          $black,
                          $grey-xdark,
                          $grey-dark,
                          $grey,
                          $grey-light,
                          $grey-xlight,
                          $grey-xxlight,
                          $blue,
                          $black-o3,
                          $blue-o8,
                          $mda-brand,
                          $mda-brand-tint,
                          $mda-brand-highlight);

$color-name-collection:  ("white",
                          "black",
                          "grey-xdark",
                          "grey-dark",
                          "grey",
                          "grey-light",
                          "grey-xlight",
                          "grey-xxlight",
                          "blue",
                          "black-o3",
                          "blue-o8",
                          "mda-brand",
                          "mda-brand-tint",
                          "mda-brand-highlight");

/* Color Helper Mixin
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin color-helper($attribute, $color) {
  .#{$attribute}-#{$color} { @content }
}

@mixin color-helper-hover($attribute, $color) {
  .#{$attribute}-#{$color}-hover:hover { @content }
}


/* Color Helper
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@for $i from 0 to length($color-collection) {
  $color-name: nth($color-name-collection, $i+1);
  $color-value: nth($color-collection, $i+1);

  // Text color
  @include color-helper("text", $color-name) {
    color: $color-value;
  }

  // Text hover color
  @include color-helper-hover("text", $color-name) {
    color: $color-value;
  }

  // Background color
  @include color-helper("bg", $color-name) {
    background-color: $color-value;
  }

  // Background hover color
  @include color-helper-hover("bg", $color-name) {
    background-color: $color-value;
  }

  // Border color
  // $grey-light by default
  @include color-helper("border", $color-name) {
    border-color: $color-value;
  }

  // Border hover color
  @include color-helper-hover("border", $color-name) {
    border-color: $color-value;
  }
}
