/* Roboto
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700);

.roboto { font-family: $font-sans; }

/* Manteka
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: "Manteka";
  src: url("../fonts/manteka-webfont.eot?") format("eot"),
       url("../fonts/manteka-webfont.woff") format("woff"),
       url("../fonts/manteka-webfont.ttf") format("truetype"),
       url("../fonts/manteka-webfont.svg") format("svg"),
       url("../fonts/manteka.ttf") format("truetype");
}

.manteka { font-family: $font-manteka; }
