/* Font Size
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// 54px
h1,
.font-title   {
  font-size: $font-larger;

  // 36px
  @media screen and (max-width: $tablet) {
    font-size: $font-larger;
  }
}

// 36px
h2,
.font-larger  {
  font-size: $font-larger;

  // 24px
  @media screen and (max-width: $tablet) {
    font-size: $font-large;
  }
}

// 24px
h3,
.font-large   {
  font-size: $font-large;

  // 20px
  @media screen and (max-width: $tablet) {
    font-size: $font-base * 1.25;
  }
}

// 18px
p,
ul,
li,
.font-paragraph {
  font-size: $font-paragraph;
}

// 16px
h4,
.font-base    {
  font-size: $font-base;
}

// 14px
h5,
small,
.font-small   { font-size: $font-small; }

// 10px
h6,
.font-smaller { font-size: $font-smaller; }

// Responsive Typography
@media screen and (max-width: $tablet) {
  .sm-font-title      { font-size: $font-title; }
  .sm-font-larger     { font-size: $font-larger; }
  .sm-font-large      { font-size: $font-large; }
  .sm-font-paragraph  { font-size: $font-paragraph; }
  .sm-font-base       { font-size: $font-base; }
  .sm-font-small      { font-size: $font-small; }
  .sm-font-smaller    { font-size: $font-smaller; }
}

@media screen and (min-width: $tablet) and (max-width: $desktop) {
  .md-font-title      { font-size: $font-title; }
  .md-font-larger     { font-size: $font-larger; }
  .md-font-large      { font-size: $font-large; }
  .md-font-paragraph  { font-size: $font-paragraph; }
  .md-font-base       { font-size: $font-base; }
  .md-font-small      { font-size: $font-small; }
  .md-font-smaller    { font-size: $font-smaller; }
}

@media screen and (min-width: $desktop) {
  .lg-font-title      { font-size: $font-title; }
  .lg-font-larger     { font-size: $font-larger; }
  .lg-font-large      { font-size: $font-large; }
  .lg-font-paragraph  { font-size: $font-paragraph; }
  .lg-font-base       { font-size: $font-base; }
  .lg-font-small      { font-size: $font-small; }
  .lg-font-smaller    { font-size: $font-smaller; }
}
