/* Type Headings
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: 0.75em;
  margin-top: 0;
  letter-spacing: 0;
}

h1,
h2,
h3 {
  line-height: $line-height-smallest;
}

h4,
h5,
h6 {
  line-height: $line-height-smaller;
}
