/* Hyperlink
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: $blue;
  text-decoration: none;
  transition: $all-transition;

  &.nav {
    color: $grey;
  }

  &:link,
  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }

  &:hover {
    color: $black;
    outline: 0;
  }
}
