/* Hyperlink
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: $blue;
  text-decoration: none;
  transition: $all-transition;

  &.nav {
    color: $grey;
  }

  &:link,
  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }

  &:hover {
    color: $black;
    outline: 0;
  }
}

// external link
a[href*="//"] {
  padding-right: 12px;

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: image-url("anchor.svg") no-repeat;
    background-size: contain;
    margin-left: 3px;
    margin-top: 6px;
  }
}
