/* List
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.75em;
  line-height: $line-height-base;

  li {
    padding-left: 2rem;
    display: block;
    position: relative;
    margin-bottom: 1rem;

    &:before {
      content: '•';
      font-size: $font-base;
      color: $grey;
      position: absolute;
      left: 0.5rem;
    }
  }

  > ul {
    padding-left: 2rem;
    margin-bottom: 0;
  }
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.75em;
  counter-reset: item;
  line-height: $line-height-base;

  li {
    padding-left: 2rem;
    display: block;
    position: relative;
    margin-bottom: 1rem;

    &:before {
      content: counter(item) ". ";
      counter-increment: item;
      font-size: $font-base;
      color: $grey;
      position: absolute;
      left: 0.5rem;
    }
  }

  > ol {
    padding-left: 2rem;
    margin-bottom: 0;
  }
}
