/* Miscellaneous
/  - Border
/  - Required Asterisk
/  - Display Properties
/  - Float
/  - Position
/  - Horizontal Line
/  - Clearfix hack
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Border
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.rounded              { border-radius: $border-radius; }
.border-full          { border: $border; }
.border-bottom-solid  { border-bottom-width: 1px; border-bottom-style: solid; }
.border-top-solid     { border-top-width: 1px; border-top-style: solid; }

/* Display Properties
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.block        { display: block; }
.inline-block { display: inline-block; }
.none         { display: none; }

/* Float
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-pull-right { float: right; }
.u-pull-left  { float: left; }
.u-pull-none  { float: none; }

/* Position
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-fixed      { position: fixed; }
.u-relative   { position: relative; }
.u-absolute   { position: absolute; }

/* Horizontal Line
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  border-top: 1px solid $grey-light;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

/* Clearfix hack
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

/* Selection
–––––––––––––––––––––––––––––––––––––––––––––––––– */
::selection { color: $white; background-color: $blue; }
.no-select   {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

/* Underline
–––––––––––––––––––––––––––––––––––––––––––––––––– */
u {
  text-decoration: none;
  border-bottom: 2px solid $grey-light;
}

/* Z Index
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.z1 { z-index: 1; }
.z2 { z-index: 2; }

/* Opacity
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.o9   { opacity: 0.9; }
.o6   { opacity: 0.6; }
.o4   { opacity: 0.4; }

/* trasition
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.no-transition { transition: none; }
.all-transition { transition: $all-transition; }
