%link{ href: "images/favicon/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180" }
%link{ href: "images/favicon/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png" }
%link{ href: "images/favicon/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png" }
%link{ href: "images/favicon/manifest.json", rel: "manifest" }
%link{ href: "images/favicon/safari-pinned-tab.svg", rel: "mask-icon", color: "#5bbad5" }
%meta{ content: "lennonzf", name: "apple-mobile-web-app-title" }
%meta{ content: "lennonzf", name: "application-name" }
%meta{ content: "#ffffff", name: "theme-color" }
