/ Header
%section.border-grey-light.mb5.p2.w100
  .container.flex.flex-wrap.justify-between.mb5
    %span.flex.flex-wrap.u-clearfix.pt3.sm-pt4
      = link_to 'L', '/',
        class: 'box-l no-select no-transition sm-font-base'
    %span.flex.flex-wrap.pt4.items-center
      / = active_link_to 'WORK', '/work',
      /   class: 'light sm-font-small'
      / = active_link_to 'ABOUT', '#',
      /   class: 'light ml6 sm-font-small'
      / = active_link_to 'BLOG', '/blog',
      /   class: 'light ml6 sm-font-small'
      = link_to 'FIND ME', '/findme',
        class: 'light ml6 pt1 pb1 pl3 pr3 bg-blue text-white bg-black-hover text-white-hover sm-font-small xs-small xs-hide'
