/ metadata
%meta{ :content => "I help understand problems through visualisation, and seek a better user experience in web app design.", :name => "description" }
%meta{ :content => "lennon, lennon cheng, visualisation, data visualisation, web app, user interface, ui, ui designer, user experience, ux, ux designer, ui/ux designer, front-end development, front-end developer, developer, web developer, web design, web designer, web app, web app designer, illustration, motion graphic, infographic, design, design process, brisbane, australia", :name => "keywords"}

/ open graph
%meta{:content => "Lennon Cheng - UI/UX Designer, Front-end Developer", :property => "og:title"}
%meta{:content => "website", :property => "og:type"}
%meta{:content => "http://lennonzf.github.io", :property => "og:url"}
%meta{:content => "assets/images/metadata/metadata.jpg", :property => "og:image"}
%meta{:content => "I help understand problems through visualisation, and seek a better user experience in web app design.", :property => "og:description"}
