/ metadata
%meta{ content: "I design experience, illustrate thoughts, capture buildings and develop interfaces.", name: "description" }
%meta{ content: "lennon, lennon cheng, visualisation, data visualisation, web app, user interface, product design, UI/UX Designer, ui, ui designer, user experience, ux, ux designer, UI/UX Designer, front-end development, front-end developer, developer, web developer, web design, web designer, web app, web app designer, illustration, motion graphic, infographic, design, design process, brisbane, australia, melbourne", name: "keywords"}

/ open graph
%meta{ content: "Lennon Cheng - UI/UX Designer & Front-end Developer", property: "og:title"}
%meta{ content: "website", property: "og:type"}
%meta{ content: "http://lennonzf.github.io", property: "og:url"}
%meta{ content: "https://lennonzf.github.io/assets/images/metadata/metadata.jpg", property: "og:image"}
%meta{ content: "I design experience, illustrate thoughts, capture buildings and develop interfaces.", property: "og:description"}

/ twitter
/ Twitter Card data
%meta{ content: "summary_large_image", name: "twitter:card"}/
%meta{ content: "@lennonzf", name: "twitter:site"}/
%meta{ content: "Lennon Cheng - UI/UX Designer & Front-end Developer", name: "twitter:title"}/
%meta{ content: "I design experience, illustrate thoughts, capture buildings and develop interfaces.", name: "twitter:description"}/
%meta{ content: "@lennonzf", name: "twitter:creator"}/
/ Twitter summary card with large image must be at least 280x150px
%meta{ content: "https://lennonzf.github.io/assets/images/metadata/metadata.jpg", name: "twitter:image:src"}/
