/ Navigation
.navigation.container.flex.flex-wrap.justify-between.p2.mb3
  .flex.flex-wrap.u-clearfix.pt3.sm-pt4
    = link_to 'L', '/',
      class: 'box-logo manteka font-large'
  .flex.flex-wrap.pt4.items-center
    = active_link_to 'PROCESS', '/process',
      class: 'sm-font-small mr6 navigation-link'
    = active_link_to 'WORK', '/work',
      class: 'sm-font-small mr6 navigation-link'
    / = active_link_to 'BLOG', '/blog',
    /   class: 'light ml6 sm-font-small'
    = link_to 'FIND ME', '/findme',
      class: 'button sm-font-small'
