---
title: Work | Lennon Cheng - UX Designer
---

.container.p2.flex.flex-wrap.flex-auto.w100.justify-between

  .c1in1
    .work-tile.bg-black-hover.all-transition.mb3
      / project tag
      .flex.justify-between
        .work-tile-tag.z1.ml2.bg-black-o3
          %span @ NetEngine
        .work-tile-tag.z1.mr2.bg-blue-o8
          %span UX
          %span.text-grey-light.mx2 /
          %span UI
      / project title & description
      .flex.flex-wrap.flex-auto.text-white.z1
        .flex.flex-column.flex-auto.mt6.sm-mt8
          .work-tile-title Smart Clinics
          .work-tile-description UX study on a medical online booking form
      / background color hover
      .bg-image-smart-clinics.o4
      / wrapper for anchor link
      = link_to '/work/smartclinics' do
        .bg-image-base.z2

  / .c1in3.md-c1in2.sm-c1in1
  /   .work-tile.bg-blue.bg-black-hover.all-transition.mb3
  /     / project tag
  /     .flex.justify-between
  /       .work-tile-tag.z1.ml2.bg-black-o3
  /         %span @ NetEngine
  /       .work-tile-tag.z1.mr2.bg-black-o3
  /         %span Design Thinking
  /     / project title & description
  /     .flex.flex-wrap.flex-auto.text-white.z1
  /       .flex.flex-column.flex-auto.mt6.sm-mt8
  /         .work-tile-title.font-large.sm-font-large Design Process
  /         .work-tile-description Rethink the current design process of NetEngine
  /     / background color hover

  /     / wrapper for anchor link
  /     = link_to '/work/smartclinics' do
  /       .bg-image-base.z2


  / .c1in3.h200px.mb3.sm-flex-basis-100.flex.flex-column.u-relative.bg-grey-xdark.bg-black-hover.all-transition
  /   .self-end.z1
  /     %p.font-smaller.mt2.mb0.flex.flex-wrap.self-center.px2.py1.mr2.text-white.bg-black-o3
  /       %span UI
  /       %span.text-grey-light.mx2 /
  /       %span FRONT-END
  /   .flex.flex-wrap.flex-auto.text-white.z1
  /     .flex.flex-column.flex-auto.mt6
  /       %p.font-large.mb0.center-align Ipsum Lorem
  /       %p.center-align.mb0.px2.light Ruby on Rails web app for Personal Trainer
  /   .bg-image-pt-hub-online.o4
  /   =link_to '#' do
  /     .bg-image-base.z2

  / .c1in3.md-c1in2.sm-c1in1.bg-grey-light.h200px.mb3.sm-flex-basis-100
  / .c1in3.md-c1in2.sm-c1in1.bg-grey-light.h200px.mb3.sm-flex-basis-100
  / .c1in3.bg-grey-light.h200px.mb3.sm-flex-basis-100
  / .c1in3.bg-grey-light.h200px.mb3.sm-flex-basis-100
  / .c1in3.bg-grey-light.h200px.mb3.sm-flex-basis-100
  / .c1in3.bg-grey-light.h200px.mb3.sm-flex-basis-100
