---
title: Work - MDA Mentoring | Lennon Cheng - UX Designer
---

.flex-auto.mb12
  /header
  .c1in1
    .work-tile.mb9
      / project title & description
      .flex.flex-wrap.flex-auto.text-white.z1
        .flex.flex-column.flex-auto.justify-center
          .work-tile-title MDA Mentoring
          .work-tile-description Help young refugees to transit into their new life in Australia
      / background color hover
      .bg-image-mda-mentoring.o4
      / wrapper for anchor link
      .bg-image-base.z2

  .container.max-w600px
    .c1in1.card.p4.flex.flex-column.text-grey-dark
      .flex.sm-flex-column.left-align.mb2
        .flex1
          .text-blue Role
        .flex3.sm-flex1
          Project Lead / App Designer / Front-end Developer

      .flex.sm-flex-column.left-align.mb2
        .flex1
          .text-blue Skill
        .flex3.sm-flex1
          Requirement Mapping / UI Design / Front-end Development / Project Management

      .flex.sm-flex-column.left-align.mb2
        .flex1
          .text-blue Tool
        .flex3.sm-flex1
          Pen & Paper / Sticky notes / Sketchapp / HTML / SASS / Github

      .flex.sm-flex-column.left-align.mb2
        .flex1
          .text-blue Repository
        .flex3.sm-flex1
          = link_to "MDA Mentoring", '//github.com/rhokbrisbane/mda', target: "auto"

      .flex.sm-flex-column.left-align
        .flex1
          .text-blue Result
        .flex3.sm-flex1
          First Prize of RHOK Brisbane 2016
          
