---
title: Work - NetEngine New Office | Lennon Cheng - Product Designer, Front-end Developer
---

.flex-auto
  .container.max-w600px
    %h1.center-align NetEngine New Office

    .article-paragraph-h2
      %h2 Office Illustration
      .article-image-w600px
        = image_tag '/assets/images/projects/netengine-new-office/hero.png'

    .article-paragraph-h2
      %h2 Christmas Party Invite
      .article-image-w600px
        = image_tag '/assets/images/projects/netengine-new-office/invite.jpg'

    .article-paragraph-h2
      %h2 Old office floor plan
      .article-image-w600px
        = image_tag '/assets/images/projects/netengine-new-office/old.png'

    .article-paragraph-h2
      = link_to "< Back to Work", '/work', class: 'text-grey light'
