---
title: Work - NetEngine New Office | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.flex-auto.mb12
  .container.max-w600px
    %h1.center-align NetEngine Homepage

    .mt0
      = image_tag '/assets/images/projects/netengine-marketing-page/design.png'

    .mt12
      .flex.justify-center
        = link_to "Check this site", '//netengine.com.au', class: 'button', target: 'auto'

    .mt12
      = link_to "< Back to Work", '/work', class: 'text-grey light'
