---
title: Work - NetEngine New Office | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.flex-auto.mb12
  .container.max-w600px
    %h1.center-align NetEngine New Office

    .mt0
      %h2 Office Illustration
      = image_tag '/assets/images/projects/netengine-new-office/hero.png'

    .mt12
      %h2 Christmas Party Invite
      = image_tag '/assets/images/projects/netengine-new-office/invite.jpg'

    .mt12
      %h2 Old office floor plan
      = image_tag '/assets/images/projects/netengine-new-office/old.png'

    .mt12
      = link_to "< Back to Work", '/work', class: 'text-grey light'
