---
title: Work - Outfit | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.flex-auto.mb12
  .container.max-w600px
    %h1.center-align Outfit

    .mt0
      %h2 Loading Screen
      = image_tag '/assets/images/projects/outfit/hero.jpg'

    .mt12
      %h2 Outfit Lab
      = image_tag '/assets/images/projects/outfit/lab.png'

    .mt12
      = link_to "< Back to Work", '/work', class: 'text-grey light'
