---
title: Work - Senza Carta | Lennon Cheng - UX Designer
---

.flex-auto.mb12
  /header
  .c1in1
    .work-tile.mb9
      / project title & description
      .flex.flex-wrap.flex-auto.text-white.z1
        .flex.flex-column.flex-auto.justify-center
          .work-tile-title Senza Carta
          .work-tile-description Landing page design and development
      / background color hover
      .bg-image-senza-carta.o4
      / wrapper for anchor link
      .bg-image-base.z2

  .container.max-w600px
    .c1in1.card.p4.flex.flex-column.text-grey-dark
      .flex.left-align.mb2
        .flex1
          .text-blue Role
        .flex3
          Web Designer / Developer

      .flex.left-align.mb2
        .flex1
          .text-blue Skill
        .flex3.flex
          Landing Page Design / Development / Illustration

      .flex.left-align
        .flex1
          .text-blue Tool
        .flex3.flex
          Sketchapp / inVision / Pen & Paper / HAML / SASS / JS


    .mt12
      = link_to "< Back to Work", '/work', class: 'button'
