---
title: Work - Smart Clinics | Lennon Cheng - UX Designer
---

.flex-auto
  /header
  .c1in1
    .work-tile.mb9
      / project title & description
      .flex.flex-wrap.flex-auto.text-white.z1
        .flex.flex-column.flex-auto.justify-center
          .work-tile-title Smart Clinics
          .work-tile-description UX study on a medical online booking form
      / background color hover
      .bg-image-smart-clinics.o4
      / wrapper for anchor link
      .bg-image-base.z2

  .container.max-w600px
    .mb9
      .c1in1.card.p4.flex.flex-column.text-grey-dark
        .flex.left-align.mb2
          .flex1
            .text-blue Role
          .flex3
            Project Lead

        .flex.left-align.mb2
          .flex1
            .text-blue Skill
          .flex3.flex
            User Experience Research / Usability Testing / User Interface Design / Project Management

        .flex.left-align
          .flex1
            .text-blue Tool
          .flex3.flex
            Sketchapp / inVision / Pen & Paper

    .mb9
      %h2 Intro
      %p At the beginning of 2016, I got the change to work individually on NetEngine’s first user experience project. It was also the first time for myself to see a UX project all the way from proposal to final delivery.

      %h3 Client
      %p Smart Clinics is a network of family medical centers, whose aim is to make General Practitioners (GP) appointments a more positive experience.

      %h3 Problem
      %p
        Smart Clinics would like to improve the
        %u conversion rate
        of their current online booking form.

    .mb9
      %h2 Plan
      %p
        I created a 7-day proposal for the project:
      %ul
        %li Day 1: Understand the Product
        %li Day 2: Usability Testing
        %li Day 3: Find the Problem
        %li Day 4 - Day 7: Redesign

    .mb9
      %h2 Process
      %h3 Day 1: Understand the Product
      %p
        I haven’t exactly worked on a similar task before, especially with the terminology
        %u conversion rate
        \. One thing I know is that the better I could make the user experience of the form, the higher conversion rate the form can possibly get.
