---
title: Work - Smart Clinics | Lennon Cheng - UX Designer
---

.flex-auto
  .c1in1
    .work-tile.mb9
      / project title & description
      .flex.flex-wrap.flex-auto.text-white.z1
        .flex.flex-column.flex-auto.justify-center
          .work-tile-title Smart Clinics
          .work-tile-description UX study on a medical online booking form
      / background color hover
      .bg-image-smart-clinics.o4
      / wrapper for anchor link
      .bg-image-base.z2

  / content
  .container.max-w450px
    %p
      For now, you can check out the
      = link_to 'case study',
        '//netengine.com.au/projects/smartclinics/',
        target: 'auto',
        class: 'external'
      I wrote for the NetEngine Website.
