---
title: Work - TEDxUQ 2014 | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.flex-auto
  .container.max-w600px
    %h1.center-align TEDxUQ 2014

    .article-paragraph-h2
      %h2 Intro
      %p Back to earlier 2014, I had a chance to work with an amazing crew at TEDxUQ. The theme for the year was "Old Idea, New World". I produced this A2 infographic to give a summary of the event back to our sponsors and audience.

    .article-paragraph-h2
      %h2 Infographic
      .article-image-w600px
        = image_tag '/assets/images/projects/tedxuq-2014/hero.png'

    .article-paragraph-h2
      = link_to "< Back to Work", '/work', class: 'text-grey light'
