---
title: Work - The Nick Team | Lennon Cheng - UX Designer
---

.flex-auto.mb12
  .container.max-w600px
    %h1.center-align The Nick Team

    .mt0
      %h2 Office Illustration
      = image_tag '/assets/images/projects/the-nick-team/hero.jpg'

    .mt12
      %h2 Wesbite Design
      = image_tag '/assets/images/projects/the-nick-team/website_1.jpg'
      .mt4
        = image_tag '/assets/images/projects/the-nick-team/website_2.jpg'

    .mt12
      = link_to "< Back to Work", '/work', class: 'text-grey light'
