
@media screen and (min-width: $desktop) {
  .content:after {
    content: image-url("asset.jpg");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    opacity: 0.2;
    z-index: -1;
  }
}
