// Article
.pb5#article
%h2.light.text-blue Article
.mb5
  // Heading
  .pb3#heading
  %h3.light.text-grey-dark Heading
  .mb3
    .flex.flex-wrap
      .w100.card
        %h1.light.p4 Main heading
        .card-footer h1.light

      .w100.card
        %h2.light.text-blue.p4 Section heading
        .card-footer h2.light.text-blue

      .w100.card
        %h3.light.text-grey-dark.p4 Sub-section Heading
        .card-footer h3.light.text-grey-dark

      .w100.card
        %h4.semi.p4 Smallest Heading
        .card-footer h4.semi

  // Paragraph
  .pb3#paragraph
  %h3.light.text-grey-dark Paragraph
  .mb3
    .c1in1.card
      %p.p2.left-align
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultrices vehicula finibus. Phasellus ligula sapien, pulvinar nec molestie vitae, hendrerit nec turpis. Donec sit amet ultricies enim. Ut vitae enim nulla. Mauris sem quam, viverra at dui tempus, porta luctus lacus.
      .card-footer p

  // Link
  .pb3#link
  %h3.light.text-grey-dark Link
  .mb3
    .c1in1.card
      %p.p2.left-align
        Lorem ipsum dolor sit amet,
        %a{'data-scroll': 'true', href: '#article'} go to the article section
        adipiscing elit.
      .card-footer a

  // Underline
  .pb3#underline
  %h3.light.text-grey-dark Underline
  .mb3
    .c1in1.card
      %p.p2.left-align
        Lorem ipsum dolor sit amet,
        %u this is important
        adipiscing elit.
      .card-footer u

  // List
  .pb3#list
  %h3.light.text-grey-dark List
  .mb3
    .flex.flex-wrap.justify-between
      .c1in2.sm-c1in1.card
        .card-header Un-ordered List
        .p2.left-align
          %ul
            %li Item 1
            %li Item 2
            %ul
              %li Item 2.1
              %li Item 2.2
            %li Item 3
        .card-footer ul

      .c1in2.sm-c1in1.card
        .card-header Ordered List
        .p2.left-align
          %ol
            %li Item 1
            %li Item 2
            %ol
              %li Item 2.1
              %li Item 2.2
            %li Item 3
        .card-footer ol

  // Code
  .pb3#code
  %h3.light.text-grey-dark Code
  .mb3
    %p
      Code snippet uses
      %a{href: 'http://prismjs.com/index.html', target: 'auto'} Prism
      , a lightweight and extensible syntax highlighter.
    .c1in1.card
      .p4.left-align
        %pre
          %code.language-scss
            :preserve
              // 54px
              h1,
              .font-title   {
                font-size: $font-title;

                // 36px
                @media screen and (max-width: $tablet) {
                  font-size: $font-larger;
                }
              }

      .card-footer code
