// Color
.pb5#color
%h2.light.text-blue Color
.mb5
  .mb6
    .flex.flex-wrap.justify-between
      .c1in3.card
        .card-header #FFFFFF
        .p8.bg-white
        .card-footer $white

      .c1in3.card
        .card-header #4DBDFF
        .p8.bg-blue
        .card-footer $blue

      .c1in3.card
        .card-header #1A1A1A
        .p8.bg-black
        .card-footer $black

      .c1in3.card
        .card-header #F2F2F2
        .p8.bg-grey-xxlight
        .card-footer $grey-xxlight

      .c1in3.card
        .card-header #EAEAEA
        .p8.bg-grey-xlight
        .card-footer $grey-xlight

      .c1in3.card
        .card-header #DEDEDE
        .p8.bg-grey-light
        .card-footer $grey-light

      .c1in3.card
        .card-header #BEBEBE
        .p8.bg-grey
        .card-footer $grey

      .c1in3.card
        .card-header #9B9B9B
        .p8.bg-grey-dark
        .card-footer $grey-dark

      .c1in3.card
        .card-header #444444
        .p8.bg-grey-xdark
        .card-footer $grey-xdark
