// Font
%h2.light.text-blue Font
.mb10
  // Typography
  %h3.light.text-grey-dark Typography
  .mb6
    .flex.flex-wrap.justify-between
      .c1in2.card
        .card-header Logo
        .p4.font-large.manteka Mentenka
        .card-footer .menteka

      .c1in2.card
        .card-header Content
        .p4.font-large Roboto
        .card-footer .roboto

  // Size
  %h3.light.text-grey-dark Size
  .mb6
    .flex.flex-wrap.justify-between
      .c1in3.sm-c1in2.card
        .card-header 12px
        .p4.font-smaller.light Smaller
        .card-footer .font-smaller

      .c1in3.sm-c1in2.card
        .card-header 14px
        .p4.font-small.light Small
        .card-footer .font-small

      .c1in3.sm-c1in2.card
        .card-header 16px
        .p4.font-base.light Base
        .card-footer .font-base

      .c1in3.sm-c1in2.card
        .card-header 24px/20px
        .p4.font-large.light Large
        .card-footer .font-large

      .c1in3.sm-c1in2.card
        .card-header 36px/24px
        .p4.font-larger.light Larger
        .card-footer .font-larger

      .c1in3.sm-c1in2.card
        .card-header 54px/36px
        .p4.font-title.light Title
        .card-footer .font-title

  // Helper
  %h3.light.text-grey-dark Helper
  .mb6
    .flex.flex-wrap.justify-between
      .c1in3.sm-c1in2.card
        .p4.font-large.light Light
        .card-footer .light

      .c1in3.sm-c1in2.card
        .p4.font-large.regular Regular
        .card-footer .regular

      .c1in3.sm-c1in2.card
        .p4.font-large.semi Semi
        .card-footer .semi

      .c1in3.sm-c1in2.card
        .p4.font-large.bold Bold
        .card-footer .bold

      .c1in3.sm-c1in2.card
        .p4.font-large.italic Italic
        .card-footer .italic

      .c1in3.sm-c1in2

  // Heading
  %h3.light.text-grey-dark Heading
  .mb6
    .flex.flex-wrap
      .w100.card
        %h1.mb0.p4.light Main heading
        .card-footer h1.light

      .w100.card
        %h2.mb0.p4.light.text-blue Section heading
        .card-footer h2.light.text-blue

      .w100.card
        %h3.mb0.p4.light.text-grey-dark Sub-section Heading
        .card-footer h3.light.text-grey-dark

      .w100.card
        %h4.mb0.p4 Content
        .card-footer h4
