// Font
.pb5#font
%h2.light.text-blue Font
.mb5
  // Typography
  .pb3#typography
  %h3.light.text-grey-dark Typography
  .mb3
    .flex.flex-wrap.justify-between
      .c1in2.card
        .card-header Logo
        .p4.font-large.manteka Mentenka
        .card-footer .menteka

      .c1in2.card
        .card-header Content
        .p4.font-large Roboto
        .card-footer .roboto

  // Size
  .pb3#size
  %h3.light.text-grey-dark Size
  .mb3
    .flex.flex-wrap.justify-between
      .c1in3.sm-c1in2.card
        .card-header 12px
        .p4.font-smaller.light Smaller
        .card-footer .font-smaller

      .c1in3.sm-c1in2.card
        .card-header 14px
        .p4.font-small.light Small
        .card-footer .font-small

      .c1in3.sm-c1in2.card
        .card-header 16px
        .p4.font-base.light Base
        .card-footer .font-base

      .c1in3.sm-c1in2.card
        .card-header 24px/20px
        .p4.font-large.light Large
        .card-footer .font-large

      .c1in3.sm-c1in2.card
        .card-header 36px/24px
        .p4.font-larger.light Larger
        .card-footer .font-larger

      .c1in3.sm-c1in2.card
        .card-header 54px/36px
        .p4.font-title.light Title
        .card-footer .font-title

  // Helper
  .pb3#helper
  %h3.light.text-grey-dark Helper
  .mb3
    .flex.flex-wrap.justify-between
      .c1in3.sm-c1in2.card
        .p4.font-large.light Light
        .card-footer .light

      .c1in3.sm-c1in2.card
        .p4.font-large.regular Regular
        .card-footer .regular

      .c1in3.sm-c1in2.card
        .p4.font-large.semi Semi
        .card-footer .semi

      .c1in3.sm-c1in2.card
        .p4.font-large.bold Bold
        .card-footer .bold

      .c1in3.sm-c1in2.card
        .p4.font-large.italic Italic
        .card-footer .italic

      .c1in3.sm-c1in2.card
        .p4.font-large.center-align Center
        .card-footer .center-align

      .c1in3.sm-c1in2.card
        .p4.font-large.left-align Left
        .card-footer .left-align

      .c1in3.sm-c1in2.card
        .p4.font-large.right-align Right
        .card-footer .right-align

      .c1in3.sm-c1in2
