// Form
.pb5#form
%h2 Form
.mb5
  // Heading
  .pb3#button
  %h3 Button
  .mb3
    .flex.flex-wrap
      .w100.card
        .p4
          %button Button
        .card-footer button

  // Input
  .pb3#input
  %h3 Input
  .mb3
    .flex.flex-wrap
      .w100.card
        .py4.px10.left-align
          .flex.flex-column
            %input.w100.mt1.order2{ type: 'text', name: 'name', required: 'true' }
            %label.order1{ for: 'name' } This is a label
        .card-footer label / input

  // Example
  .pb3#form-example
  %h3 Example
  .mb3
    %h4 Form Group
    .c1in1.card
      .py4.px10.left-align
        %form
          .mt1.flex.flex-column
            %input.w100.mt1.order2{ type: 'text', name: 'name', required: 'true' }
            %label.order1{ for: 'name' } Label 1
          .mt1.flex.flex-column
            %textarea.w100.mt1.order2{ name: 'message',required: 'true' }
            %label.order1{ for: 'message' } Label 2
          .mt2
            %button{ type: "submit", value: "Send" } button
      .card-footer form

    .c1in1
      %pre.line-numbers
        %code.language-haml
          :preserve
            %form
              .mt1.flex.flex-column
                %input.w100.mt1.order2{ type: 'text', name: 'name', required: 'true' }
                %label.order1{ for: 'name' } Label 1
              .mt1.flex.flex-column
                %textarea.w100.mt1.order2{ name: 'message',required: 'true' }
                %label.order1{ for: 'message' } Label 2
              .mt2
                %button{ type: "submit", value: "Send" } button
