// Grid
.pb5#grid
%h2 Grid
.mb5
  %p Flexbox is the base of the grid layout. This site only goes as far as 3 columns.

  // 1
  .pb3#one-column
  %h3 One Column
  .mb3
    .c1in1.card
      .card-header 100%
      .card-footer .c1in1

  // 2
  .pb3#two-columns
  %h3 Two Columns
  .mb3
    .flex.flex-wrap.justify-between
      .c1in2.card
        .card-header 48%
        .card-footer .c1in2

      .c1in2.card
        .card-header 48%
        .card-footer .c1in2

  // 3
  .pb3#three-columns
  %h3 Three Columns
  .mb3
    .flex.flex-wrap.justify-between
      .c1in3.card
        .card-header 32%
        .card-footer .c1in3

      .c1in3.card
        .card-header 32%
        .card-footer .c1in3

      .c1in3.card
        .card-header 32%
        .card-footer .c1in3

  // example
  .pb3#grid-example
  %h3 Example
  .mb3
    .flex.flex-wrap.justify-between
      .c1in1.card
        .card-header 100%
        .card-footer .c1in1

      .c1in3.card
        .card-header 32%
        .card-footer .c1in3

      .c2in3.card
        .card-header 66%
        .card-footer .c2in3

      .sm-c1in3.md-c1in2.lg-c1in1.card
        .sm-hide.md-hide.card-header 100%
        .sm-hide.lg-hide.card-header 48%
        .md-hide.lg-hide.card-header 32%
        .p4 Try to resize the browser
        .card-footer .sm-c1in3.md-c1in2.lg-c1in1

    %pre.line-numbers
      %code.language-haml
        :preserve
          .flex.flex-wrap.justify-between
            .c1in1.card
              .card-header 100%
              .card-footer .c1in1

            .c1in3.card
              .card-header 32%
              .card-footer .c1in3

            .c2in3.card
              .card-header 66%
              .card-footer .c2in3

            .sm-c1in3.md-c1in2.lg-c1in1.card
              .sm-hide.md-hide.card-header 100%
              .sm-hide.lg-hide.card-header 48%
              .md-hide.lg-hide.card-header 32%
              .p4 Try to resize the browser
              .card-footer .sm-c1in3.md-c1in2.lg-c1in1
