// Grid
%h2.light.text-blue Grid
.mb10
  %p Flexbox is the base of the grid layout. This site only goes as far as 3 columns.

  // 1
  %h3.light.text-grey-dark One Column
  .mb6
    .c1in1.card
      .card-header 100%
      .card-footer .c1in1

  // 2
  %h3.light.text-grey-dark Two Columns
  .mb6
    .flex.flex-wrap.justify-between
      .c1in2.card
        .card-header 48%
        .card-footer .c1in2

      .c1in2.card
        .card-header 48%
        .card-footer .c1in2

  // 3
  %h3.light.text-grey-dark Three Columns
  .mb6
    .flex.flex-wrap.justify-between
      .c1in3.card
        .card-header 32%
        .card-footer .c1in3

      .c1in3.card
        .card-header 32%
        .card-footer .c1in3

      .c1in3.card
        .card-header 32%
        .card-footer .c1in3

  // Combination
  %h3.light.text-grey-dark Combination
  .mb6
    .flex.flex-wrap.justify-between
      .c1in3.card
        .card-header 32%
        .card-footer .c1in3

      .c2in3.card
        .card-header 66%
        .card-footer .c2in3
