// Identity
.pb5#screen
%h2 Identity
.mb5

  // Box
  .pb3#box
  %h3 Box
  .mb3
    .flex.flex-wrap
      .w100.card
        .card-header Logo and special heading
        .flex.justify-center.p3
          .box Lennon
        .card-footer .box Lennon
