// Intro
.pb5#intro
%h2 Intro
.mb5
  %p During the development of various projects, a major problem I am facing is to keep the style and use of classes consistent.
  %p I am developing this style guide to help manage and maintain the visual style of this website and to provide a template for any future projects I will be working on.
  %p This site utilises HAML and SASS with the SCSS syntax, and adopts the principle from functional CSS.
