// Intro
%h2.light.text-blue Intro
.mb10
  %p During the development of various projects, a major problem I am facing is to keep the style and use of classes consistent. This also causes a huge headache when I jump back and forth on these projects.
  %p As a practice, I am developing this style guide to help me manage and maintain the visual style of this website and to provide a template for any future projects I will be working on.
  %p This site utilizes SASS with the SCSS syntax and adopts the principal from functional CSS.
