// Screen
.pb5#screen
%h2 Screen
.mb5

  // Break point
  .pb3#break-point
  %h3 Break Point
  .mb3
    .c1in1.card
      .card-header > 1024px
      .card-footer .lg-

    .c2in3.card
      .card-header 768px - 1024px
      .card-footer .md-

    .c1in3.card
      .card-header < 768px
      .card-footer .sm-

  // Hide
  .pb3#hide
  %h3 Hide
  .mb3
    .flex.flex-wrap.justify-between
      .c1in2.card
        .card-header No Hide
        .card-footer none

      .c1in2.card
        .lg-hide
          .card-header Hide Desktop
          .card-footer .lg-hide

        .md-hide.sm-hide
          .p3.font-small.text-grey-light .lg-hide disappeared

      .c1in2.card
        .md-hide
          .card-header Hide Tablet
          .card-footer .md-hide

        .lg-hide.sm-hide
          .p3.font-small.text-grey-light .md-hide disappeared

      .c1in2.card
        .sm-hide
          .card-header Hide Mobile
          .card-footer .sm-hide

        .lg-hide.md-hide
          .p3.font-small.text-grey-light .sm-hide disappeared
