// Grid
%h2.light.text-blue Screen
.mb10

  // Break point
  %h3.light.text-grey-dark Break Point
  .mb6
    .c1in1.card
      .card-header > 1024px
      .card-footer .lg-

    .c2in3.card
      .card-header 768px - 1024px
      .card-footer .md-

    .c1in3.card
      .card-header < 768px
      .card-footer .sm-





