// Side Navigation
.pt5
  %ol.side-nav

    %li
      %a{'data-scroll': 'true', href: '#intro'} Intro

    %li
      %a{'data-scroll': 'true', href: '#screen'} Screen
      %input.mb0#nav-screen{type: 'checkbox'}
        %label{for: 'nav-screen'}
      %ol
        %li
          %a{'data-scroll': 'true', href: '#break-point'} Break Point
        %li
          %a{'data-scroll': 'true', href: '#hide'} Hide

    %li
      %a{'data-scroll': 'true', href: '#grid'} Grid
      %input.mb0#nav-grid{type: 'checkbox'}
        %label{for: 'nav-grid'}
      %ol
        %li
          %a{'data-scroll': 'true', href: '#one-column'} One Column
        %li
          %a{'data-scroll': 'true', href: '#two-columns'} Two Columns
        %li
          %a{'data-scroll': 'true', href: '#three-columns'} Three Columns
        %li
          %a{'data-scroll': 'true', href: '#mix'} Mix

    %li
      %a{'data-scroll': 'true', href: '#font'} Font
      %input.mb0#nav-font{type: 'checkbox'}
        %label{for: 'nav-font'}
      %ol
        %li
          %a{'data-scroll': 'true', href: '#typography'} Typography
        %li
          %a{'data-scroll': 'true', href: '#size'} Size
        %li
          %a{'data-scroll': 'true', href: '#helper'} Helper

    %li
      %a{'data-scroll': 'true', href: '#color'} Color

    %li
      %a{'data-scroll': 'true', href: '#article'} Article
      %input.mb0#nav-article{type: 'checkbox'}
        %label{for: 'nav-article'}
      %ol
        %li
          %a{'data-scroll': 'true', href: '#heading'} Heading
        %li
          %a{'data-scroll': 'true', href: '#paragraph'} Paragraph
        %li
          %a{'data-scroll': 'true', href: '#link'} Link
        %li
          %a{'data-scroll': 'true', href: '#underline'} Underline
        %li
          %a{'data-scroll': 'true', href: '#list'} List
        %li
          %a{'data-scroll': 'true', href: '#code'} Code

    %li
      %a{'data-scroll': 'true', href: '#form'} Form
      %input.mb0#nav-form{type: 'checkbox'}
        %label{for: 'nav-form'}
      %ol
        %li
          %a{'data-scroll': 'true', href: '#button'} Button
        %li
          %a{'data-scroll': 'true', href: '#input'} Input
