.box-base {
  font-family: "manteka", sans-serif;
  position: absolute;
  padding: 0.3em;
  text-align: center;

  &::selection {
    color: $blue;
  }
}

.box {
  @extend .box-base;
  font-size: 2em; //size of the box based on the font-size
  color: #4dbdff;
  background-color: #4dbdff;
  margin-left: 1rem;
  margin-top: 1rem;
  border: 4px solid #4dbdff;

  &::after {
    content: 'Lennon'; //text needs to be identical with the text in div
    padding: 0.3em;
    position: absolute;
    color: black;
    z-index: 999;
    left: -1rem;
    top: -1rem;
    border: 4px solid black;
  }

  @media screen and (max-width: $desktop) {
    font-size: 2em;
  }
}

.box-l {
  @extend .box-base;
  font-size: 2.5rem; //size of the box based on the font-size
  color: $grey-light;
  background-color: $grey-light;
  margin-left: 0.75rem;
  border: 3px solid $grey-light;

  &::after {
    content: 'L'; //text needs to be identical with the text in div
    padding: 0.3em;
    position: absolute;
    color: $grey-dark;
    z-index: 999;
    left: -0.75rem;
    top: -0.75rem;
    border: 3px solid $grey-dark;
  }

  &:hover {
    background-color: $blue;
    border-color: $blue;
    color: $blue;

    &::after {
      color: $black;
      border-color: $black;
    }
  }
}
