/* Type Headings
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.75em;
  margin-top: 0;
  letter-spacing: 0;

  @media screen and (min-width: $tablet) {
    margin-bottom: 1.5em;
  }
}

h1,
h2,
h3 {
  line-height: $line-height-smallest;
}

h4,
h5,
h6 {
  text-transform: uppercase;
  line-height: $line-height-smaller;
}
