---
title: Find Me | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.container.mb6.p2.flex.flex-wrap.justify-between.flex-auto
  .flex.flex-wrap.justify-between.items-center.w100
    .sm-c1in1.c1in2.px5
      .mt3.mb6.flex.flex-column.self-center.justify-center.items-start
        .box-container
          .box Find Me

      %p.font-large.text-grey-dark Got an interesting project? Shoot me a message :)
      %p.text-grey-dark
        You can also find me doodling on
        %u
          = external_link_to 'Dribbble', 'https://dribbble.com/lennonzf',
            class: ''
        %span , tweaking photos on
        %u
          = external_link_to 'Instagram', 'https://www.instagram.com/lennonzf/',
            class: ''
        %span . If you are interested in my experience, you can pay a visit to my
        %u
          = external_link_to 'Linkedin profile', 'https://www.linkedin.com/in/lennonzf/',
            class: ''
        %span . Thank you for stopping by!


    .sm-c1in1.c1in2.px5
      %form{ action: 'https://formspree.io/lennon9469@gmail.com', method: 'POST' }
        .mt1.flex.flex-column
          %input.w100.mt1.order2{ type: 'text', name: 'name', required: 'true' }
          %label.order1{ for: 'name' } YOUR AWESOME NAME
        .mt1.flex.flex-column
          %input.w100.mt1.order2{ type: 'email', name: 'email', required: 'true' }
          %label.order1{ for: 'email' } YOUR EMAIL
        .mt1.flex.flex-column
          %textarea.w100.mt1.order2{ name: 'message',required: 'true' }
          %label.order1{ for: 'message' } MESSAGE
        .mt2
          %button{ type: "submit", value: "Send" } send

        %input{ name: "_subject", type: "hidden", value: "Email from lennonzf.com" }
        %input{ name: "_format", type: "hidden", value: "plain" }
        %input{ name: "_next", type: "hidden", value: "/thankyou" }
        %input{ type: 'text', name: '_gotcha', style: 'display:none' }
