---
title: Find Me | Lennon Cheng - UX Designer
---

%section.container.flex-auto.p2.sm-p4.max-w450px
  %form.flex-column{ action: 'https://formspree.io/lennon9469@gmail.com', method: 'POST' }
    %section.flex.justify-between.items-center
      .font-larger.text-black.mb0.light Find Me
      / for social media icon
      / %section.flex
      /   %span i
      /   %span l
      /   %span g
    .font-base.light.text-grey-xdark Got a question for me or have an interesting project? Shoot me a message :)
    %section.mt3.flex.flex-column
      %input.w100.mt1.order2{ type: 'text', name: 'name', required: 'true' }
      %label.font-small.light.text-grey.order1{ for: 'name' } YOUR AWESOME NAME
    %section.mt1.flex.flex-column
      %input.w100.mt1.order2{ type: 'email', name: 'email', required: 'true' }
      %label.font-small.light.text-grey.order1{ for: 'email' } YOUR EMAIL
    %section.mt1.flex.flex-column
      %textarea.w100.mt1.order2{ name: 'message',required: 'true' }
      %label.font-small.light.text-grey.order1{ for: 'message' } MESSAGE
    %section.mt2
      %button{ type: "submit", value: "Send" } SEND

    %input{ name: "_subject", type: "hidden", value: "Email from lennonzf.com" }
    %input{ name: "_format", type: "hidden", value: "plain" }
    %input{ name: "_next", type: "hidden", value: "/thankyou" }
    %input{ type: 'text', name: '_gotcha', style: 'display:none' }
