---
title: Find Me | Lennon Cheng - Product Designer, Front-end Developer
---

.container.flex-auto.p2.sm-p4.max-w450px
  .flex.justify-between.items-center
    %h1.w100.center-align Find Me
    / for social media icon
    / .flex
    /   %span i
    /   %span l
    /   %span g
  %p Got a question for me or have an interesting project? Shoot me a message :)
  %form{ action: 'https://formspree.io/lennon9469@gmail.com', method: 'POST' }
    .mt1.flex.flex-column
      %input.w100.mt1.order2{ type: 'text', name: 'name', required: 'true' }
      %label.order1{ for: 'name' } YOUR AWESOME NAME
    .mt1.flex.flex-column
      %input.w100.mt1.order2{ type: 'email', name: 'email', required: 'true' }
      %label.order1{ for: 'email' } YOUR EMAIL
    .mt1.flex.flex-column
      %textarea.w100.mt1.order2{ name: 'message',required: 'true' }
      %label.order1{ for: 'message' } MESSAGE
    .mt2
      %button{ type: "submit", value: "Send" } send

    %input{ name: "_subject", type: "hidden", value: "Email from lennonzf.com" }
    %input{ name: "_format", type: "hidden", value: "plain" }
    %input{ name: "_next", type: "hidden", value: "/thankyou" }
    %input{ type: 'text', name: '_gotcha', style: 'display:none' }
