/ Content
.container.flex.flex-wrap.flex-auto.p2.u-relative
  .content.flex.flex-auto.flex-column.max-w750px.self-center.px3.items-start
    / .flex.flex-wrap.box Lennon
    .box Lennon
    .font-base.light.text-grey-dark.mt4.lg-mr6
      UI/UX Designer & Front-end Developer at
      = external_link_to 'NetEngine',
        'http://netengine.com.au/',
        class: ''
    .font-larger.light.sm-mt2
      I am a web app designer,
      %br
      who
      %u illustrate
      ,
      %u code
      and
      oversee
      %br.sm-hide
      projects
      from
      %u start to end
      %span .
