/ Content
.container.flex.flex-wrap.flex-auto.p2.u-relative.animation-slide-up
  .content.flex.flex-auto.flex-column.max-w750px.self-center.px3.items-start
    / .flex.flex-wrap.box Lennon
    .box Lennon
    .font-base.light.text-grey-dark.mt4.lg-mr6
      UI/UX Designer & Project Manager at
      = external_link_to 'NetEngine',
        'http://netengine.com.au/',
        class: ''
    .font-larger.light.sm-mt2
      I am a web app
      %u designer
      ,
      %br
      who
      %u illustrate
      ,
      %u code
      ,
      %u tweak
      %br.sm-hide
      photos and
      %u run
      projects
      %span .
