/ Content
.container.flex.flex-wrap.flex-auto.p2
  .flex.flex-auto.flex-column.max-w750px.self-center.px3
    / .flex.flex-wrap.box Lennon
    .box-lennon.font-larger.manteka Lennon
    .font-larger.light.mt4
      I help understand problems through
      %u visualisation
      , and seek a better
      %u user experience
      in web app design.
    / = link_to 'VIEW MY WORK >', '/work',
    /   class: 'pt4 light'
    = link_to 'Check out my style guide >', '/style-guide',
      class: 'pt4 light'
