= partial 'partials/header'

/ Content
%section.container.flex.flex-wrap.flex-auto.p2.w100
  .flex.flex-auto.flex-column.max-w750px.self-center.ml4.mr4
    / .flex.flex-wrap.box Lennon
    .box.noselect Lennon
    .font-larger.sm-font-large.pt20
      I help understanding problems through
      %u visualisation
      , and seek a better
      %u user experience
      in product design.
    = link_to 'VIEW MY WORK >', '#',
      class: 'pt4'

= partial 'partials/footer'
