/ Content
.container.flex.flex-wrap.flex-auto.p2.u-relative
  .content.flex.flex-auto.flex-column.max-w750px.self-center.px3.items-start
    / .flex.flex-wrap.box Lennon
    .box Lennon
    .font-base.light.text-grey-dark.mt4.lg-mr6
      UI/UX Designer & Front-end Developer at
      = link_to 'NetEngine', 'http://netengine.com.au/', target: '_blank'
    .font-larger.light.sm-mt2
      I help understand problems through
      %u visualisation
      , and seek a better
      %u user experience
      in web app design.
