/ Content
%section.container.flex.flex-wrap.flex-auto.p2.w100
  .flex.flex-auto.flex-column.max-w750px.self-center.px3
    / .flex.flex-wrap.box Lennon
    .box.no-select.sm-font-large Lennon
    .font-larger.sm-font-large.pt20.sm-pt17.light
      I help understand problems through
      %u visualisation
      , and seek a better
      %u user experience
      in product design.
    = link_to 'VIEW MY WORK >', '/work',
      class: 'pt4 light'
