---
title: Process | Lennon Cheng - UI/UX Designer, Front-end Developer
page_title: 'Process'
description: 'My MVP product design process developed at NetEngine'
slug: 'process'
image_format: 'jpg'
image_position: 'center 50%'
---

.flex-auto
  = partial 'partials/case_header'

  .container.max-w900px
    .article-paragraph-h2
      %h2 Intro
      %p Working at NetEngine has offered me a great opportunity to explore and come up with my own design process. The nature of the business, which is consulting, requires me to work rapidly on providing design solutions for different MVPs (Minimum Viable Product). However, it is worth to note that with restrictions such as time and budget, I have to take out certain bits from the list to deliver my job.

      %p Following is the current process of how I tackle MVP product design in an ideal way.

    .article-paragraph-h2
      %h2 Process

      .article-paragraph-h3
        %h3 Knowledge Building
        %ul
          %li
            %span Reason
            %span.text-grey-dark - Why is the client building the product?
          %li
            %span Past
            %span.text-grey-dark - What has been done?
          %li
            %span Future
            %span.text-grey-dark - What is the bigger picture?
          %li
            %span Present
            %span.text-grey-dark - What is the one problem or challenge the client is trying to solve?

      .article-paragraph-h3
        %h3 Solution Exploration
        %ul
          %li
            %span Diverge
            %span.text-grey-dark - What are our options?
          %li
            %span Converge
            %span.text-grey-dark - What is the most feasible solution?

      .article-paragraph-h3
        %h3 Product Research
        %ul
          %li
            %span Existing Product
            %span.text-grey-dark - What is the performance of the existing product?
          %li
            %span Competitors Analysis
            %span.text-grey-dark - How are the competitors doing it?

      .article-paragraph-h3
        %h3 Requirement Analysis
        %ul
          %li
            %span Users
            %span.text-grey-dark - Who are the users?
          %li
            %span Medium
            %span.text-grey-dark - What device and medium are we designing for?
          %li
            %span Modules
            %span.text-grey-dark - What are the modules?

      .article-paragraph-h3
        %h3 Design Iteration
        .card.left-align.article-paragraph-h3.border-blue
          .card-header.center-align.mb3.bg-blue.text-white Repeat in the next iteration
          .p2
            %ul
              %li
                %span Core
                %span.text-grey-dark - What is the one core module deserves the highest attention at this stage?
              %li
                %span Workflow
                %span.text-grey-dark - What is the workflow of the core module?
              %li
                %span Wireframe
                %span.text-grey-dark - How do we meet the functional requirement of the module?
              %li
                %span Mockup
                %span.text-grey-dark - How to provide an easy-to-understand user interface with a good user experience aligning with the branding?
              %li
                %span Front-end Prototype
                %span.text-grey-dark - What are the look and feel of the design in actual web browser?
              %li
                %span Usability Testing
                %span.text-grey-dark - What are targeted users' feedback on the module design?
              %li
                %span Iterating
                %span.text-grey-dark - What can be improved until the users are happy about the design or we have hit the budget?

      .article-paragraph-h3
        %h3 Feedback
        %p With each possible stage, acknowledgement and feedback from the client and users are asked.

    .article-paragraph-h2
      .flex.justify-center
        = link_to "Explore my work", '/work', class: 'button'
