---
title: Thank You | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.container.flex-auto.p2.sm-p4.max-w750px.flex
  .flex.flex-auto.flex-column.self-center.px3.center-align.items-center
    .box-container
      .box Thanks
    %p.font-large.text-grey.mt4
      Got your message, we will be in touch soon :)
    = link_to 'back to home >', '/',
      class: 'pt4 light'
