---
title: Thank You | Lennon Cheng - UX Designer
---

.container.flex-auto.p2.sm-p4.max-w750px.flex
  .flex.flex-auto.flex-column.self-center.px3.center-align
    / .flex.flex-wrap.box Lennon
    .box-container
      .box-thanks.font-larger.manteka Thanks
    .font-larger.light.mt4
      We will be in touch soon :)
    = link_to 'back to home >', '/',
      class: 'pt4 light'
