---
title: Thank You | Lennon Cheng - UX Designer
---

%section.container.flex-auto.p2.sm-p4.max-w450px.flex
  .flex.flex-column.max-w750px.mx4.items-center.self-center
    .box-thankyou.no-select Thank you
    .font-larger.text-grey-light.mb0.light.w100.center-align.pt20 BE IN TOUCH SOON :)
    = link_to 'VIEW MY WORK >', '/work.html',
      class: 'pt2 light center-align w100'
