---
title: Work | Lennon Cheng - UX Designer
---

%section.container.flex.flex-wrap.flex-auto.p2.w100.justify-between
  .w100.bg-grey-light.h200px.mb3.flex.flex-column.bg-image-smart-clinics
    %section.self-end
      %p.font-smaller.mt2.mb0.flex.flex-wrap.self-center.px2.py1.mr2.text-white
        %span.bold UX
        %span.text-grey-light.ml2.mr2 /
        %span.bold INDIVIDUAL
    %section.flex.flex-wrap.flex-auto.text-white
      %section.flex.flex-column.flex-auto.mt5
        %p.font-larger.sm-font-large.mb0.center-align.semi Smart Clinics
        %p.center-align.mb0.px2 UX study on a medical online booking form

  .w33.bg-grey-light.h200px.mb3.sm-flex-basis-100.flex.flex-column.bg-image-pt-hub-online
    %section.self-end
      %p.font-smaller.mt2.mb0.flex.flex-wrap.self-center.px2.py1.mr2.text-white
        %span.bold FRONT-END
        %span.text-grey-light.ml2.mr2 /
        %span.bold TEAM
    %section.flex.flex-wrap.flex-auto.text-white
      %section.flex.flex-column.flex-auto.mt5
        %p.font-large.mb0.center-align.semi PT Hub Online
        %p.center-align.mb0.px2 Ruby on Rails web app for Personal Trainer


  .w33.bg-grey-light.h200px.mb3.sm-flex-basis-100
  .w33.bg-grey-light.h200px.mb3.sm-flex-basis-100
  .w33.bg-grey-light.h200px.mb3.sm-flex-basis-100
  .w33.bg-grey-light.h200px.mb3.sm-flex-basis-100
  .w33.bg-grey-light.h200px.mb3.sm-flex-basis-100
  .w33.bg-grey-light.h200px.mb3.sm-flex-basis-100
