---
title: Work | Lennon Cheng - UX Designer
---

%section.container.flex.flex-wrap.flex-auto.p2.w100.justify-between
  .w100.h200px.mb3.flex.flex-column.u-relative.bg-grey-xdark.bg-black-hover.bg-transition
    %section.self-end.z1
      %p.font-smaller.mt2.mb0.flex.flex-wrap.self-center.px2.py1.mr2.text-white.bg-black-o3
        %span.bold UX
        %span.text-grey-light.mx2 /
        %span.bold UI
    %section.flex.flex-wrap.flex-auto.text-white.z1
      %section.flex.flex-column.flex-auto.mt6
        %p.font-larger.sm-font-large.mb0.center-align.semi Ipsum Loreum
        %p.center-align.mb0.px2 UX study on a medical online booking form
    .bg-image-smart-clinics.o6

  .w33.h200px.mb3.sm-flex-basis-100.flex.flex-column.u-relative.bg-grey-xdark.bg-black-hover.bg-transition
    %section.self-end.z1
      %p.font-smaller.mt2.mb0.flex.flex-wrap.self-center.px2.py1.mr2.text-white.bg-black-o3
        %span.bold UI
        %span.text-grey-light.mx2 /
        %span.bold FRONT-END
    %section.flex.flex-wrap.flex-auto.text-white.z1
      %section.flex.flex-column.flex-auto.mt6
        %p.font-large.mb0.center-align.semi Ipsum Lorem
        %p.center-align.mb0.px2 Ruby on Rails web app for Personal Trainer
    .bg-image-pt-hub-online.o6


  .w33.bg-grey-light.h200px.mb3.sm-flex-basis-100
  .w33.bg-grey-light.h200px.mb3.sm-flex-basis-100
  .w33.bg-grey-light.h200px.mb3.sm-flex-basis-100
  .w33.bg-grey-light.h200px.mb3.sm-flex-basis-100
  .w33.bg-grey-light.h200px.mb3.sm-flex-basis-100
  .w33.bg-grey-light.h200px.mb3.sm-flex-basis-100
